@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap');


body {
  min-height: 100vh;
  background: rgb(71,249,245);
  background: linear-gradient(170deg, rgba(71,249,245,1) 27%, rgba(213,89,213,1) 72%);
  background-repeat: no-repeat;
  font-family: 'Be Vietnam Pro', sans-serif;
  padding: 0 20px;
  box-sizing: border-box;
}

button{
  padding: 0;
}

/* header */

.header{
  padding-top: 50px;
  color: rgba(0, 0, 0, 0.904);
  text-align: center;
}

.container {
  background-color: rgba(255, 255, 255, 0.904);
  max-width: 600px;
  margin: 50px auto;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

/* input-block */

.input-block {
  display: flex;
  justify-content: center;
  padding: 20px 0 20px 0;
}

.inpur-bar{
  width: 100%;
  border-radius: 5px 0 0 5px;
  border: none;
}

.add-task{
  background-color: white;
  border:none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.add-task:hover{
  color: rgb(0, 204, 255);
}

/* sort-block */

.sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.sort-button {
  background: transparent;
  border:none;
  padding: 5px;
  cursor: pointer;
  transition: transform .2s;
}

.sort-button:first-of-type {
  padding: 5px 23px 5px 23px;
}

.sort-button:nth-of-type(2){
  color: green;
  padding: 5px 13px 5px 13px;
}

.sort-button:last-of-type {
  color: red;
}

.sort-button:hover{
  transform: scale(1.25);
}

.sort-button-active {
  border-bottom: 3px solid black;
}

.sort-by-date {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sort-data-text{
  padding-right: 10px;
}

.sort-date-button {
  border: none;
  padding: 0 5px 0 5px;
  background: transparent;
  cursor: pointer;
  padding-top: 5px;
  transition: transform .5s;
}

.sort-date-button:last-of-type{
  transform:rotate(180deg);
}

.sort-date-button-active{
  border: 1px solid red;
  border-radius: 50%;
}

.arrow-up{
  width: 15px;
}

.arrow-up:hover {
  transform: scale(1.25);
}

/* tasks-block */

.tasks{
  text-align: center;
  padding: 10px 0 10px 0;
}

.wrapper{
  display: flex;
  flex-direction: column;
}

.task{
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.task-check {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.task-check+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
}
.task-check+label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  border: 1px solid black;
  border-radius: 50%;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.task-check:checked+label::before {
  background-color: #1b9e26;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.task-text{
  width:80%;
  text-align: left;
}

.delete-task{
  padding-left: 10px;
  border:none;
  background: transparent;
  cursor: pointer;
  transition: transform .2s;
}

.delete-task:hover{
  transform: scale(1.1);
}

.delete-icon{
  width: 20px;
}

/* pages */
.pages{
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-button {
  cursor: pointer;
  background-color:rgba(221, 235, 227, 0.26);
  border:1px solid rgb(177, 171, 171);
  padding: 5px 10px;
  margin-right: 1px;
}

.page-button:first-of-type{
  border-radius: 10% 0 0 10%;
}

.page-button:last-of-type{
  border-radius: 0 10% 10% 0;
}

.page-button-active {
  background-color: blanchedalmond;
}

@media (max-width:500px) {
  .sort-menu-buttons {
    display: flex;
    flex-direction: column;
  }
  .sort-by-date {
    flex-direction: column;
  }

}